.tournament-form-container {
  padding: 1rem;
  margin: 1rem auto;
  max-width: 500px;
  background-color: #111;
  color: #fff;
  border: 2px solid #444;
  border-radius: 8px;
  font-family: 'Press Start 2P', cursive;
}

.tournament-form label {
  display: block;
  margin: 1rem 0;
}

.tournament-form input,
.tournament-form select {
  width: 100%;
  padding: 0.5rem;
  font-family: inherit;
  background-color: #222;
  color: #fff;
  border: 1px solid #555;
}

.tournament-form button {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
  background-color: #3c3;
  color: black;
  border: none;
  cursor: pointer;
}
.tournament-card {
  border: 1px solid #555;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #1c1c1c; /* gris très foncé */
  border-radius: 8px;
  color: #f0f0f0;
}

.tournament-card.finished {
  background-color: #2a332a; /* vert foncé discret */
}

.button-group {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

select {
  margin-left: 0.5rem;
  padding: 0.3rem;
  background-color: #333;
  color: #fff;
  border: 1px solid #666;
}
